*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
/*--header and nav--*/
.header{
	position: fixed;
	display:flex;
	justify-content: flex-end;
	padding:10px 5%;
	height:60px;
	width:100%;
	background-color: white;
	box-shadow:5px 0px 20px black;
}
.header h1 {
	margin-right:auto;
	font-family: Georgia;
	font-size:36px;
	font-weight:200;
	color:darkgreen;
}
.header h1 span{
	font-weight:700;
}
.header button{
	border:none;
	outline: none;
	border-radius:5px;
	padding:10px 15px;
	color:darkgreen;
	font-weight:bold;
	background-color: white;
	box-shadow:5px 0px 10px black;
}
	.nav {
	padding:5px;
	position:relative;
	display: inline-block;
	}
	.hide {
	position: absolute;
	display:none;
	margin-top: 10px;
	list-style-type: none;
	width: 100%;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	}
	.hide li a {
	text-decoration: none;
	color :black;
	font-size: 12px;
	font-weight: 500;
	}
	.nav:hover>ul{
	 display:block;
	}
/*--header and nav ends here--*/
.main{
    margin-top:30px;
    width :100%;
    padding:10px;
    background-color: #fff;
   
}
.main h4{
  margin-top: 20px;
  font-weight:400;
	color:navy;
	padding:10px;
}
.main h4 span{
	font-weight:200;
	color: black;
}
.getstarted{
	display: block;
    text-align: center;
    height:100px;
    padding:40px;
}
.getstarted p a{
	text-decoration:none;
	background-color:green;
	padding:15px 25px;
	color: White;
	border-radius:20px 10px;
	font-weight: bold;
	font-size:16px;
	box-shadow:0px 5px 10px black;
}
.choices{
    display:flex;
    flex-flow:wrap;
    width:100%;
    height:100%;
    margin-top:10px;
    margin-bottom:10px;
    padding:30px 0px;
    border-radius:5px;
    box-shadow:0px 5px 10px black;
}
.choices div {
	width:100px;
	text-align: center;
	height:100px;
}
.ddd{
    width:50px;
    height:50px;
}
a{
    text-decoration:none;
}
h2 {
	font-size:small;
	padding:5px;
	margin:5px;
	color:brown;
}
.search{
    text-align:right;
    margin:5px;
}
#search{
    border:solid 2px darkgreen;
	width:220px;
	padding:10px;
	background-color: snow;
	border-radius:15px;
}
#search::placeholder{
    color: black;
}
.available{
	margin-top:15px;
	padding:10px;
}
.available div{
    width:100%;
    margin:20px;
    padding:20px 5px;
    background-color:snow;
    border-radius:10px;
}
.available div img{
    width:100%;
    border-radius:10px;
    padding:5px;
}
.available table,th,td{
    border-collapse:collapse;
    margin:5px;
    border:none;
}
.available th,td{
    padding:5px;
}
.available button{
    margin:10px 0px;
    padding:10px;
    color:green;
    border:none;
    border-radius:10px;
}
.feeds {
	margin-top:20px;
	padding:10px;
}
.feeds div{
    width:100%;
    padding:20px 5px;
    background-color:snow;
    border-radius:10px;
}
.feeds div img{
    width:100%;
    border-radius:10px;
    padding:5px;
}
.feeds table,th,td{
    border-collapse:collapse;
    margin:5px;
    border:none;
}
.feeds th,td{
    padding:5px;
    font-size: small;
}
.feeds button{
    margin:10px 0px;
    padding:10px;
    color:green;
    border:none;
    border-radius:10px;
    font-weight:1000;
}
.footer{
	display: block;
	padding-top:10px;
	background-color: black;
	color:white;
	height:100%;
	width:100%;
	text-align :center;
	font-weight:300;
	font-size: small;
}
.footer h1 {
	margin-right:auto;
	font-size:36px;
	font-weight:200;
	color:gold;
	padding:10px;
}
.footer h1 span{
	font-weight:700;
}
.footer ul {
    margin-top:20px;
    padding:20px 0px;
    list-style-type:none;
}
.footer ul li{
    padding:5px;
}
.footer ul li a{
	text-decoration: none;
	color:white;
}
.social{
	margin-top:10px;
}
.social p a img {
	width:50px;
	height:100%;
	border-radius:20px;
	padding:10px;
}
.copyright{
    margin-top:30px;
    background-color:#333;
    height:100%;
}
.copyright p{
   padding-top:20px;
   padding-bottom:5px;
}
.form {
   margin-top: 20px;
   text-align: center;
   padding: 20px;
   box-shadow: 3px 3px 20px black;
}
.form ul {
  list-style-type: none;
}
.form form {
   border:solid 1px darkgreen;
   text-align: center;
   margin:20px
   padding: 10px;
   border-radius: 10px;
}
.form ul li a img {
   width: 100%;
}
.form form h1{
   margin: 30px;
   color: darkgreen;
}
.form form input {
   border: none;
   border-top: solid 1px darkgreen;
   border-bottom: solid 1px darkgreen;
   outline: none;
   margin: 10px;
   padding: 10px 16px;
   border-radius: 10px;
   
}
.form form button {
   border: none;
   outline: none;
   padding: 10px 15px;
   margin: 10px;
   border-radius: 10px;
   background-color: darkgreen;
   color: white;
  
}
.form form p {
   padding: 20px;
   font-size: small;
}
.form form input::placeholder{
   color: darkgreen;
}